.container {
    margin: 0 auto !important;
    height: 100%;

}

html, body {
    height: 100%;
}

section {
    height: 100%;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.main {
    height: 100%;
    background: #fff;
    padding: 70px 30px 30px 30px;
    overflow: scroll;
}

.filmImg {
    max-width: 100px;
}

.film {
    position: relative;
}

.film_img {
    width: inherit;
}

.film_img img {
    max-width: 100%;
}

.film_title {
    text-align: center;
}

.film_date {
    text-align: left;
    margin-bottom: 1rem;
}

.back_btn {
    position: absolute;
    left: -30px;
}

form .error {
    color: red;
}

.success-message {
    font-size: 1.5rem;
    color: green;
}

.remove_btn {
    text-align: right;
}
.remove_btn .btn-primary.remove {
    text-align: right;
    background-color: #de3333;
    border-color: #de3333;
}
